.form{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    container-name: form;
    container-type: inline-size;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 20% contain 40% ;
}
.form__form{
    padding: 12px;
    max-width: 600px;
    width: 100%;
    display: grid;
    background-color: grey;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 2px 5px 10px #fff5;
    margin-bottom: 30px;
}
.form__input-container :is(input,textarea){
    width: 100%;
    padding: 9px 6px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow: 2px 2px 5px #0003;
}
.form__input-container textarea{
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__input-container input[type="submit"]{
    padding: 12px;
    background-color: #18233f;
    color: #fff;
}
.form__title{
    font-size: 2.4rem;
}

@container form (min-width:600px){
    .form__form{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "name lastname"
        "email email"
        "message message"
        "button button";
        gap: 12px;
    }
    .form__input-container:first-child{
        grid-area: name;
    }
    .form__input-container:nth-child(2){
        grid-area: lastname;
    }
    .form__input-container:nth-child(3){
        grid-area: email;
    }
    .form__input-container:nth-child(4){
        grid-area: message;
    }
    .form__input-container:nth-child(5){
        grid-area: button;
    }
}