
.profile{
    container-name: profile;
    container-type: inline-size;
    background-color: #0F0F0F;
}

.profile__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0F0F0F;
    max-width: 1200px;
}

.profile__data-container{
    max-width: 600px;
    padding: 20px;
}
.profile__img-container{
    margin-top: 15px;
    max-height: 500px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 55px #fff5;
   
}
.profile__img{
    max-width: 100%;
    width: 720px;
    border-radius: 50%;
    
}
h1{
    font-size: 3rem;
    margin-bottom: 0;
}
span{
    color: #05FCE9;
    text-shadow: 0px 0px 32px #05FCE9;
    font-size: 3rem;
    font-weight: 700;
}

@container profile (min-width:720px){
    .profile__wrapper{
        flex-direction: row;
        padding: 20px;
        margin-left: 50px; 
        background-color: transparent;
        height: 90vh;
        margin-top: 50px;
    }
    .profile__data-container{
        background-color: transparent;
        display: flex;
        align-items:center;
        
    }
    h1{
        margin: 0;
        font-size: 4rem;
        text-wrap: balance;
    }
    .profile__img-container{
        max-height: initial;
        border-radius: 50%;
        box-shadow: 0px 0px 32px #fff5;
    }
    .profile__img-container:hover{
        box-shadow: 0px 0px 55px #fff5;
    }
    .profile__img{
        height: 100%;
        object-fit: cover;
        width: 560px;
        
    }
}